<div>
  <br>
  <button id="addCustomer" class="btn btn-primary" (click)="addCustomer(templateCustomerInfo)">Add customer</button>
  <br><br>

  <table id="customers">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date Of Birth</th>
      <th>Gender</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Profession</th>
    </tr>
    <tbody *ngFor="let row of customerDetails">
      <tr>
        <td>{{row.firstName}}</td>
        <td>{{row.lastName}}</td>
        <td>{{row.dateOfBirth | date:'longDate'}}</td>
        <td>{{row.gender?"Male":"Female"}}</td>
        <td>{{row.phoneNumber}}</td>
        <td><button class="btn btn-info" (click)="isExpandForAddressFun(row.id)">Show</button></td>
        <td><button class="btn btn-info" (click)="isExpandForProfessionFun(row.id)">Show</button></td>
      </tr>
      <tr *ngIf="isExpandForAddressVar&&row.id==rowId">
        <td colspan="7">
          <table id="customerAddress">
            <tr>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Country</th>
              <th>Zip Code</th>
              <th>Hide Table</th>
            </tr>
            <tr>
              <td>{{row.address}}</td>
              <td>{{row.streetNo}}</td>
              <td>{{row.state}}</td>
              <td>{{row.country}}</td>
              <td>{{row.zipCode}}</td>
              <td><button class="btn btn-info" (click)="hideAddressTable()">Confirm</button></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr *ngIf="isExpandForProfessionVar&&row.id==rowId">
        <td colspan="7">
          <table id="customerProfession">
            <tr>
              <th>Job Title</th>
              <th>Job Detail</th>
              <th>Company Name</th>
              <th>Employee Id</th>
              <th>Hide Table</th>
            </tr>
            <tr>
              <td>{{row.jobTitle}}</td>
              <td>{{row.jobDetail}}</td>
              <td>{{row.companyName}}</td>
              <td>{{row.employeeId}}</td>
              <td><button class="btn btn-info" (click)="hideProfessionTable()">Confirm</button></td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #templateCustomerInfo>
    <form [formGroup]="customerForm" class="row g-3" id="customerForm">
      <h3>Customer Information</h3>
      <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f.FirstName.errors }"
          id="firstName" formControlName="FirstName">
        <div *ngIf="submitted1 && f.FirstName.errors" class="invalid-feedback">
          <div *ngIf="f.FirstName.errors.required">*First Name is required</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && f.LastName.errors }"
          id="lastName" formControlName="LastName">
        <div *ngIf="submitted1 && f.LastName.errors" class="invalid-feedback">
          <div *ngIf="f.LastName.errors.required">*Last Name is required</div>
        </div>
      </div>
      <div class="col-12">
        <label for="dateOfBirth" class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" id="dateOfBirth" formControlName="DateOfBirth"
          [ngClass]="{ 'is-invalid': submitted1 && f.DateOfBirth.errors }">
        <div *ngIf="submitted1 && f.DateOfBirth.errors" class="invalid-feedback">
          <div *ngIf="f.DateOfBirth.errors.required">*Date Of Birth is required</div>
        </div>
      </div>
      <div class="col-12">
        <label for="gender" class="form-label">Gender</label>
        <select id="gender" class="form-select" formControlName="Gender"
          [ngClass]="{ 'is-invalid': submitted1 && f.Gender.errors }">
          <option selected>Male</option>
          <option>Female</option>
        </select>
        <div *ngIf="submitted1 && f.Gender.errors" class="invalid-feedback">
          <div *ngIf="f.Gender.errors.required">*Gender is required</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName="PhoneNumber"
          [ngClass]="{ 'is-invalid': submitted1 && f.PhoneNumber.errors }">
        <div *ngIf="submitted1 && f.PhoneNumber.errors" class="invalid-feedback">
          <div *ngIf="f.PhoneNumber.errors.required">*Date Of Birth is required</div>
        </div>
        <div *ngIf="f.PhoneNumber.errors?.pattern" class="alert alert-danger">Please, Enter 10 digit Mobile Number.
        </div>
      </div>
      <div class="col-12 float-right">
        <button type="button" class="btn cus-btn btn-default" (click)="hideModel()">Close</button>
        <button class="btn btn-primary" (click)='SaveCustomerInfo(templateCustomerAddress)'>Next</button>
      </div>
    </form>
  </ng-template>

  <ng-template #templateCustomerAddress>
    <form [formGroup]="customerForm" class="row g-3" id="customerForm">
      <h3>Customer Address</h3>
      <div class="col-12">
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address" formControlName="Address"
          [ngClass]="{ 'is-invalid': submitted2 && f.Address.errors }">
        <div *ngIf="submitted2 && f.Address.errors" class="invalid-feedback">
          <div *ngIf="f.Address.errors.required">*Address is required</div>
        </div>
      </div>
      <div class="col-12">
        <label for="country" class="form-label">Country</label>
        <select name="country" id="country" class="form-control" formControlName="Country"
          [ngClass]="{ 'is-invalid': submitted2 && f.Country.errors }" (change)="getState()"
          [(ngModel)]="selectedLevel1">
          <option *ngFor="let row of countries" [value]="row.name">{{row.name}}</option>
        </select>
        <div *ngIf="submitted2 && f.Country.errors" class="invalid-feedback">
          <div *ngIf="f.Country.errors.required">*Country is required</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputState" class="form-label">State</label>
        <select name="state" id="state" class="form-control" formControlName="State"
          [ngClass]="{ 'is-invalid': submitted2 && f.State.errors }" (change)="getCity()" [(ngModel)]="selectedLevel2">
          <option *ngFor="let row of states" [value]="row.name">{{row.name}}</option>
        </select>
        <div *ngIf="submitted2 && f.State.errors" class="invalid-feedback">
          <div *ngIf="f.State.errors.required">*State is required</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="streetNo" class="form-label">City</label>
        <select name="streetNo" id="streetNo" class="form-control" formControlName="StreetNo"
          [ngClass]="{ 'is-invalid': submitted2 && f.StreetNo.errors }">
          <option *ngFor="let row of cities" [value]="row.name">{{row.name}}</option>
        </select>
        <div *ngIf="submitted2 && f.StreetNo.errors" class="invalid-feedback">
          <div *ngIf="f.StreetNo.errors.required">*City is required</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip" formControlName="ZipCode"
          [ngClass]="{ 'is-invalid': submitted2 && f.ZipCode.errors }">
        <div *ngIf="submitted2 && f.ZipCode.errors" class="invalid-feedback">
          <div *ngIf="f.ZipCode.errors.required">*ZipCode is required</div>
        </div>
      </div>
      <div class="col-12 float-right">
        <button type="button" class="btn cus-btn btn-default" (click)="hideModel()">Close</button>
        <button class="btn btn-primary" (click)="BackToCustInfo(templateCustomerInfo)">Back</button>
        <button class="btn btn-primary" (click)="SaveCustomerAddress(templateCustomerProfession)"
          style="margin-left: 5px;">Next</button>
      </div>
    </form>
  </ng-template>

  <ng-template #templateCustomerProfession>
    <form [formGroup]="customerForm" class="row g-3" id="customerForm" (ngSubmit)="onSubmitCustomerDetails($event)">
      <h3>Customer Profession</h3>
      <div class="col-12">
        <label for="jobTitle" class="form-label">Job Title</label>
        <input type="text" class="form-control" id="jobTitle" formControlName="JobTitle"
          [ngClass]="{ 'is-invalid': submitted3 && f.JobTitle.errors }">
        <div *ngIf="submitted3 && f.JobTitle.errors" class="invalid-feedback">
          <div *ngIf="f.JobTitle.errors.required">*Job Title is required</div>
        </div>
      </div>
      <div class="col-12">
        <label for="jobDetail" class="form-label">Job Detail</label>
        <input type="text" class="form-control" id="jobDetail" formControlName="JobDetail"
          [ngClass]="{ 'is-invalid': submitted3 && f.JobDetail.errors }">
        <div *ngIf="submitted3 && f.JobDetail.errors" class="invalid-feedback">
          <div *ngIf="f.JobDetail.errors.required">*Job Detail is required</div>
        </div>
      </div>
      <div class="col-12">
        <label for="companyName" class="form-label">Company Name</label>
        <input type="text" class="form-control" id="companyName" formControlName="CompanyName"
          [ngClass]="{ 'is-invalid': submitted3 && f.CompanyName.errors }">
        <div *ngIf="submitted3 && f.CompanyName.errors" class="invalid-feedback">
          <div *ngIf="f.CompanyName.errors.required">*Company Name is required</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="employeeId" class="form-label">Employee Id</label>
        <input type="text" class="form-control" id="employeeId" formControlName="EmployeeId"
          [ngClass]="{ 'is-invalid': submitted3 && f.EmployeeId.errors }">
        <div *ngIf="submitted3 && f.EmployeeId.errors" class="invalid-feedback">
          <div *ngIf="f.EmployeeId.errors.required">*Employee Id is required</div>
        </div>
      </div>
      <div class="col-12 float-right">
        <button type="button" class="btn cus-btn btn-default" (click)="hideModel()">Close</button>
        <button class="btn btn-primary" (click)="BackToCustAddress(templateCustomerAddress)">Back</button>
        <button type="submit" class="btn btn-primary" style="margin-left: 5px;">Save</button>
      </div>
    </form>
  </ng-template>
</div>